.container-fluid{
    margin-top: 10px;
    overflow: hidden;
    background-color: #DCDCDC ;
}
.container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-top: 55px;
    margin-bottom: 25px;
    background-color: white;
    z-index: 999;
}
table{
    width: 100%;
}
.mat-row:nth-child(even){
    background-color: #bdc3c7;
}
        
.mat-row:nth-child(odd){
    background-color: #F8D0C1;
}